<div>WebApp</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/DOM/dom.js"></script>
	<script src="/DOM/blank.js"></script>
	<script src="/client.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css">